@import "variables";

.ms-tk-goal-counter input[type="radio"]:checked+label {
  background-color: rgb(20, 20, 20);
  margin-right: auto;
}

.tk-radio-counter {
  width: 50px;
  height: 50px;
}

.ts-radio-counter-stoper {
  width: 50px;
  height: 50px;
  background-color: rgb(40, 40, 40);
  margin: 2px;
  border-radius: 5px;
  z-index: 20;
}

.ts-radio-counter-stoper .ts-radio-counter-stoper-inner{
  background-color: rgb(80, 80, 80);
  border-radius: 25px;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
}

.ts-radio-counter-stoper .ts-radio-counter-stoper-inner .ts-radio-counter-stoper-screw {
  border: solid 2px rgba(0,0,0,0.3);
  border-radius: 10px;
  color: rgb(40, 40, 40);
  background: rgb(200, 200, 200);
  width: 20px;
  height: 20px;
  line-height: 10px;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
}